@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Mulish:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=K2D:wght@300&family=Mulish:wght@900&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
#burger {
    display: none;
}

#navbar{
    width: 100vw;
    height: 12vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar_name {
    
    width: 75%;
    margin-left: 20px;

}
#logo {
    width: 25%;
    height: 80%;
    margin-left: 12px;
}
#fleche{
    position: fixed;
    right: 30px;
    bottom: 30px;
    
}
h2{
    font-family: 'K2D', sans-serif;
    color: gold;

}

h1 {
    color: gold;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;

}
p{
    color: white;
    font-family: 'Fira Sans', sans-serif;
    font-size: 19px;
}
#lien {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#lien_liste{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li {
    list-style-type: none;
    font-size: 20px;
}
a:hover{
    color:gold;
    font-size: 26px;

}
a{
    outline: none;
    text-decoration: none;
    color: white;
    transition: all 1 sec ease-in-out;
}

#header {
    width: 100vw;
    height: 88vh;
    border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#presentation{
    width: 85%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    padding-left: 38px;
}
#reseaux{
    width: 15%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.reseaux_sociaux{
    width:  50px;
    height: 50px;
    margin-block: 10px;
}

#expdip {
    width: 100vw;
    height: 70vh;
    display: flex;
}
.enfant1 {
    width: 50%;
    height: 100%;
    border: 1px black solid;
}
#projet {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.enfant2 {
    width: 25%;
    height: 70%;
    border: 1px black solid;
}
#contact {
    width: 100vw;
    height: 10vh;
    border: 1px black  solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_desc{
    color: black;
}
@media screen and (max-width:760px) {
    
    #burger {
        width:30px;
        height:2px;
        background:white;
        display:inline-block;
        position:relative;

      }
      #burger::before,
    #burger::after {
      content:'';
      width:30px;
      height:2px;
      background:white;
      display:inline-block;
      position:absolute;
      transform-origin: center;
      transition: all 0.3s ease;
    }
    #burger::before {
      top:-7px;
    }
    #burger::after {
      top:7px;
    }
    #burger.open {
        background:transparent; /* la barre du milieu disparait */
      }
      /* celles du haut et du bas s'inclinent pour former une croix */
      #burger.open::before {
        transform: rotate(45deg); 
        top:0;
      }
      #burger.open::after {
        transform: rotate(-45deg);
        top:0;
      }
      header {
        position:relative;
        max-width:760px;
    }
    ul {
        background-color:gold;
        position:absolute;
        width:100%;
        left:0;
        top:12vh;
        padding:10px 0;
        transform:scaleY(0);
        transform-origin:center top;
        transition:all 0.3s ease;
      }
      ul.open {
        transform:scaleY(1);
      }
      ul li {
        padding:10px 0;
        text-align:center
      }
    #lien {
        width: 0;
    } 
    #navbar{
        color: black;
    }
    .scale-up-center:hover{
        color: black;
    }
}


.heartbeat:hover {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-26 15:15:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  